pipeline/array_to_string_using_join.json
{
	"name": "array_to_string_using_join",
	"properties": {
		"activities": [
			{
				"name": "LookupEmail",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Array_to_string",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachEmail",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupEmail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupEmail').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "EmailArray",
								"value": {
									"value": "@item().Email",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "SetEmailString",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEachEmail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EmailString",
					"value": {
						"value": "@join(variables('EmailArray'),';')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"EmailArray": {
				"type": "Array"
			},
			"EmailString": {
				"type": "String"
			}
		},
		"annotations": []
	}
}